@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    background-color: #f2ebe3;
    display: flex;
   justify-content: center;
   align-items: center;
}

.card{
    display: flex;
    border-radius: 20px;
    max-width: 700px;
    box-shadow: 0px -1px 20px -5px rgba(0, 0, 0, 0.5);
    margin:1rem 2rem;

}
.img-div{
    width:45%;
    border-radius: 20px 0px 0px 20px;

}
.desktop-img{
    object-fit: cover;
    height: 100;
    width: 100%;
    border-radius: 20px 0px 0px 20px;

}
.text-div{
    width:55%;
    padding: 1.5rem 2rem;
    background-color: #fff;
    color:#6c7289;
    border-radius: 0px 20px 20px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.product{
    font-size: 1rem;
    letter-spacing: 0.3rem;
}
.product-title{
    width: 80%;
    font-size: 2rem;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: #000;
    line-height: 2rem;
    margin-top: 1.2rem;
}

.product-desc{
    width: 96%;
    font-size: 1rem;
    margin: 1.5rem 0;
}

.cur-price{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    color: #3c8067;
    margin-right: 0.6rem;
}
.old-price{
    font-size: 1rem;
    text-decoration: line-through;
}
.product-btn{
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    color: #fff;
    background-color: #3c8067;
    border: none;
    border-radius: 10px;
    padding: 0.9rem 0;
    margin-top: 1.6rem;
    cursor: pointer;
    transition: all 0.1s;
}

.product-btn img{
    margin-right: 0.9rem;
}

.product-btn:hover{
    background-color: #2f4c40;
}
